.main-view {
  padding: 2rem;
  .header {
    input {
      padding: .5rem 0;
    }
  }
  .table {
    button {
      border-radius: 20px;
      border:0;
      color: #fff;
      padding: 5px 15px;
      font-weight: 700;
      &.wyslano {
        background: #32a852;
      }
      &.completed {
        background: #00ff46;
      }
      &.prodm-mode {
        background: #ff8800;
      }
      &.processing {
        background: #2b9cba;
      }
      &.cancelled {
        background: #f52e2e;
      }
    }
    p {
      &.wyslano {
        color: #32a852;
      }
      &.completed {
        color: #00ff46;
      }
      &.prodm-mode {
        color: #ff8800;
      }
      &.processing {
        color: #2b9cba;
      }
      &.cancelled {
        color: #f52e2e;
      }
    }
    .product-name {
      color: #32a852;
      font-weight: 500;
    }
    .m-0 {
      margin: 0;
    }
    small {
      color: #999;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #fff;
  color: #000;
  width: 60%;
  padding: 2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    background: red;
    width: 40px;
    height: 40px;
    color: #fff;
  }
}
