<div class="main-view">
  <div class="header">
    <mat-form-field>
      <input matInput placeholder="Wyszukaj">
    </mat-form-field>
  </div>

  <div class="table">
    <table mat-table [dataSource]="products">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Zamówienie </th>
        <td mat-cell *matCellDef="let element">
          <p><strong>#{{element.id }}</strong></p>
          <button class="{{element.status}}">{{element.status}}</button>
          <p class="product-name {{element.status }}">{{element.line_items[0].name}} x {{element.line_items[0].quantity}} </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element">
          <p class="m-0">{{element.date_created | date: 'dd.MM.YYYY'}}</p>
          <small>{{element.date_created | date: 'hh: mm' }}</small>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Cena </th>
        <td mat-cell *matCellDef="let element">
          <p>{{element.total}} {{element.currency}}</p>
          <p>Faktura: {{element.price}}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef> Klient </th>
        <td mat-cell *matCellDef="let element">
          <p><strong>{{element.billing.first_name}} {{element.billing.last_name}}</strong></p>
          <small>{{element.billing.email}}</small>
          <small>{{element.billing.phone}}</small>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openModal(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
  </div>
</div>


<div *ngIf="showDetails" class="modal">
  <button class="close-button" (click)="closeModal()">x</button>

  <h2>Dane szczegółowe - zamówienie nr. {{selectedProduct.id}}</h2>
  <hr>
  <h4>Dane płatnika</h4>
  <p>Imię: {{ selectedProduct.billing.first_name }}</p>
  <p>Nazwisko: {{ selectedProduct.billing.last_name }}</p>
  <p>Numer telefonu: {{ selectedProduct.billing.phone ? selectedProduct.billing.phone : 'Nieznany'}}</p>
  <p>Email: {{ selectedProduct.billing.email ? selectedProduct.billing.email : 'Nieznany'}}</p>

  <h4>Dane do wysyłki</h4>
  <p>Kraj: {{ selectedProduct.shipping.country}}</p>
  <p>Miasto: {{ selectedProduct.shipping.city}}</p>
  <p>Powiat : {{ selectedProduct.shipping.state}}</p>
  <p>Kod pocztowy : {{ selectedProduct.shipping.postcode}}</p>
  <p>Ulica : {{ selectedProduct.shipping.address_1 }}</p>
  <p>Numer domu : {{ selectedProduct.shipping.address_2}}</p>

  <h4>Zamówione produkty</h4>
  <p *ngFor="let orderedProduct of selectedProduct.line_items">
    <strong>{{ orderedProduct.name }}</strong> x {{ orderedProduct.quantity }} = {{ orderedProduct.total }} {{ selectedProduct.currency }}
  </p>

</div>
